Repository EvanCNavarro/disc: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

.lintstagedrc.json:

{
	"*.{ts,tsx,js,jsx}": [
		"biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"
	],
	"*.{json,md}": [
		"biome format --write --files-ignore-unknown=true --no-errors-on-unmatched"
	]
}

feat(styles): connect creator → analysis → editor flow
  apps/web/src/components/styles/StyleCreator.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

style(ui): unify visual consistency across all dashboard tabs
  apps/web/src/app/(dashboard)/settings/page.tsx
  apps/web/src/app/api/styles/route.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(styles): add canonical thumbnails, deletion, and default style picker
  .gitignore
  apps/web/src/app/(dashboard)/settings/page.tsx
  apps/web/src/app/(dashboard)/styles/page.tsx
  apps/web/src/app/api/settings/default-style/route.ts
  apps/web/src/app/api/styles/[id]/route.ts
  apps/web/src/app/api/styles/[id]/thumbnail/route.ts
  apps/web/src/app/api/styles/[id]/versions/route.ts
  apps/web/src/app/api/styles/analyze/route.ts
  apps/web/src/components/ConfirmDialog.tsx
  apps/web/src/components/Dropdown.tsx
  apps/web/src/components/queue/StylePicker.tsx
  apps/web/src/components/settings/DefaultStylePicker.tsx
  apps/web/src/components/styles/StyleCard.tsx
  apps/web/src/components/styles/StyleEditor.tsx
  apps/web/src/components/styles/StyleGrid.tsx
  apps/web/src/lib/generate-thumbnail.ts
  migrations/008_seed_styles.sql
  migrations/009_refine_kgo_style.sql
  migrations/010_kgo_flux2pro_v1.sql
  migrations/012_style_thumbnails.sql
  packages/shared/src/changelog.json
  packages/shared/src/common-objects.ts
  packages/shared/src/styles.ts
  packages/shared/src/types.ts
  packages/shared/src/version.ts
  scripts/generate-style-thumbnails.mjs
  workers/cron/src/replicate.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: clean up dead code, stale docs, and gitignore gaps
  .gitignore
  BUILDPLAN.md
  CHANGELOG.md
  SPEC.md
  docs/PRODUCT-OWNER-ANALYSIS.md
  docs/REMAINING-WORK.md
  docs/plans/2026-02-15-disc-roadmap.md
  packages/shared/src/index.ts
  packages/shared/src/prompt-builder.ts
  packages/shared/src/styles.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(a11y): add type="button" to all non-submit buttons
  apps/web/src/components/styles/PreviewGrid.tsx
  apps/web/src/components/styles/StyleEditor.tsx
  apps/web/src/components/styles/VersionHistory.tsx
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(deploy): resolve Vercel/CI build failures and add deploy verification
  .github/workflows/ci.yml
  .gitignore
  .npmrc
  apps/web/src/app/api/version/route.ts
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(deploy): exclude /api/version from auth middleware
  apps/web/src/middleware.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: bump version to v0.8.3
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(pipeline): handle Replicate string output for flux-2-pro models
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
  workers/cron/src/replicate.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(ci): add retry logic to verify-deploy for CDN propagation lag
  .github/workflows/ci.yml
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(layout): pin footer to bottom on all pages, persist thumbnails to R2
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/(dashboard)/queue/page.tsx
  apps/web/src/app/api/images/route.ts
  apps/web/src/app/changelog/layout.tsx
  apps/web/src/components/styles/StyleCard.tsx
  apps/web/src/lib/generate-thumbnail.ts
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
  scripts/generate-style-thumbnails.mjs
  workers/cron/src/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(styles): use img tag for R2-proxied thumbnails, restore queue viewport height
  apps/web/src/app/(dashboard)/queue/page.tsx
  apps/web/src/components/styles/StyleCard.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: bump version to v0.8.7
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(styles): persist version preview images to R2
  apps/web/src/app/api/styles/[id]/versions/route.ts
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(infra): auto-refresh stale clients on new deployments
  apps/web/src/app/api/version/route.ts
  apps/web/src/app/global-error.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/VersionChecker.tsx
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(queue): flowing page layout, sticky bar, optimistic generate
  apps/web/src/app/(dashboard)/queue/page.tsx
  apps/web/src/components/queue/QueueBoard.tsx
  apps/web/src/components/queue/QueueColumn.tsx
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(queue): custom object override for image generation
  apps/web/src/app/api/playlists/[spotifyPlaylistId]/regenerate/route.ts
  apps/web/src/components/queue/ImageReviewModal.tsx
  apps/web/src/components/queue/QueueBoard.tsx
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
  workers/cron/src/index.ts
  workers/cron/src/pipeline.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(db): add playlist classification columns
  migrations/013_playlist_classification.sql
Due: none

feat(sync): capture collaborative flag and owner ID from Spotify
  apps/web/src/lib/spotify.ts
  apps/web/src/lib/sync.ts
  packages/shared/src/types.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(api): filter collaborative playlists from generation
  apps/web/src/app/api/playlists/generate-batch/route.ts
  workers/cron/src/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(pipeline): playlist name theme steering and light extraction mode
  workers/cron/src/extraction.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(pipeline): wire light extraction through trigger API and pipeline
  apps/web/src/app/api/playlists/[spotifyPlaylistId]/regenerate/route.ts
  workers/cron/src/index.ts
  workers/cron/src/pipeline.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(queue): schedule/run workflow with locked playlists and per-item config
  apps/web/src/components/queue/QueueBoard.tsx
  apps/web/src/components/queue/QueueCard.tsx
  apps/web/src/components/queue/QueueColumn.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(api): accept per-item configs in generate-batch
  apps/web/src/app/api/playlists/generate-batch/route.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: bump version to 0.9.0
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(shared): add QueueStatus types for global queue awareness
  packages/shared/src/types.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(settings): timezone-aware time picker with local ↔ UTC conversion
  apps/web/src/app/(dashboard)/settings/page.tsx
  apps/web/src/components/settings/ScheduleForm.tsx
  apps/web/src/lib/timezone.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(api): add GET /api/queue/status polling endpoint
  apps/web/src/app/api/queue/status/route.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(context): add QueueProvider with adaptive polling
  apps/web/src/context/QueueContext.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(layout): wrap dashboard in QueueProvider via DashboardShell
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/components/DashboardShell.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(queue): add CronIdleBanner and CronProgressPanel components
  apps/web/src/components/queue/CronIdleBanner.tsx
  apps/web/src/components/queue/CronProgressPanel.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(queue): conditionally render cron panels vs kanban based on active job
  apps/web/src/components/queue/QueueBoard.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(nav): add queue activity badge and rich hover tooltip
  apps/web/src/components/NavItems.tsx
  apps/web/src/components/nav/QueueNavTooltip.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): add live stat updates and table refetch from queue context
  apps/web/src/app/(dashboard)/page.tsx
  apps/web/src/components/dashboard/DashboardLiveStats.tsx
  apps/web/src/components/dashboard/GenerationHistoryTable.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: bump version to 0.10.0 — cron visibility + global queue awareness
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(queue): address code review findings from v0.10.0
  apps/web/src/app/api/queue/status/route.ts
  apps/web/src/components/NavItems.tsx
  apps/web/src/components/nav/QueueNavTooltip.tsx
  apps/web/src/components/queue/CronProgressPanel.tsx
  apps/web/src/context/QueueContext.tsx
  apps/web/src/lib/format.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(queue): create jobs row for manual triggers
  apps/web/src/app/api/playlists/[spotifyPlaylistId]/regenerate/route.ts
  apps/web/src/app/api/playlists/generate-batch/route.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(nav): replace pulsing dot with spinner + count badge
  apps/web/src/components/NavItems.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(enrichment): add playlist enrichment + watcher settings foundation
  apps/web/src/app/api/queue/status/route.ts
  apps/web/src/lib/spotify.ts
  apps/web/src/lib/sync.ts
  migrations/015_enrichment_watcher.sql
  packages/shared/src/types.ts
  workers/cron/src/spotify.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(types): add watcher columns to DbUser interface
  packages/shared/src/types.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
