Repository EvanCNavarro/disc: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

.lintstagedrc.json:

{
	"*.{ts,tsx,js,jsx}": [
		"biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"
	],
	"*.{json,md}": [
		"biome format --write --files-ignore-unknown=true --no-errors-on-unmatched"
	]
}

feat(worker): pipeline phash + deleted_at IS NULL filters across 8 query sites
  apps/web/src/app/(dashboard)/page.tsx
  apps/web/src/app/(dashboard)/playlists/[spotifyId]/page.tsx
  apps/web/src/app/api/generations/route.ts
  apps/web/src/app/api/playlists/[spotifyPlaylistId]/generations/route.ts
  apps/web/src/app/api/playlists/route.ts
  apps/web/src/app/api/queue/status/route.ts
  workers/cron/src/index.ts
  workers/cron/src/pipeline.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(worker): cover integrity watcher — mosaic detection, phash verification, /hash endpoint
  workers/cron/src/index.ts
  workers/cron/src/ticks.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat: backfill endpoint, activity integrity UI, cover source indicator
  apps/web/src/app/(dashboard)/playlists/[spotifyId]/page.tsx
  apps/web/src/app/(dashboard)/settings/activity/ActivityClient.tsx
  apps/web/src/app/api/admin/backfill-phash/route.ts
  apps/web/src/app/api/settings/activity/route.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: bump version to 0.14.0 — cover integrity system
  apps/web/src/app/api/playlists/route.ts
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
  workers/cron/src/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(worker): hash compressed JPEG instead of raw bytes, use Hamming distance
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
  workers/cron/src/__tests__/image.test.ts
  workers/cron/src/image.ts
  workers/cron/src/index.ts
  workers/cron/src/pipeline.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(worker): raise phash threshold to 25, add distance logging
  workers/cron/src/__tests__/image.test.ts
  workers/cron/src/image.ts
  workers/cron/src/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: add .worktrees/ to gitignore
  .gitignore
Due: none

feat: v0.15.0 — integrity hardening, queue polish, UX feedback
  apps/web/src/components/PlaylistCard.tsx
  apps/web/src/components/dashboard/GenerationHistoryTable.tsx
  apps/web/src/components/playlist-detail/PlaylistDetailClient.tsx
  apps/web/src/components/queue/QueueBoard.tsx
  apps/web/src/components/queue/QueueCard.tsx
  apps/web/src/components/queue/WatcherBanner.tsx
  package-lock.json
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
  workers/cron/src/__tests__/image.test.ts
  workers/cron/src/image.ts
  workers/cron/src/index.ts
  workers/cron/src/pipeline.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(api): switch style analysis from Anthropic to OpenAI GPT-4o
  apps/web/src/app/api/styles/analyze/route.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix: changelog invalid entry types, switch style analysis to OpenAI
  packages/shared/src/changelog.json
Due: biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: bump version to 0.15.1 — fix changelog crash, switch to OpenAI
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix: v0.15.2 — quality cleanup: bugs, consistency, missing states
  apps/web/src/app/(dashboard)/settings/activity/ActivityClient.tsx
  apps/web/src/app/api/settings/activity/route.ts
  apps/web/src/app/globals.css
  apps/web/src/components/dashboard/GenerationHistoryTable.tsx
  apps/web/src/components/playlist-detail/PlaylistDetailClient.tsx
  apps/web/src/components/queue/CronProgressPanel.tsx
  apps/web/src/components/queue/QueueBoard.tsx
  apps/web/src/components/queue/QueueCard.tsx
  apps/web/src/components/settings/WorkerTimeline.tsx
  apps/web/src/lib/pipeline-constants.ts
  apps/web/src/lib/worker-tick-constants.ts
  package-lock.json
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(styles): image counter, placeholder slots, resize before analysis
  apps/web/src/components/styles/ImageUpload.tsx
  apps/web/src/components/styles/StyleCreator.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

docs: add style creator improvements to v0.15.2 changelog
  packages/shared/src/changelog.json
Due: biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: bump version to 0.15.3 — changelog docs fix
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(types): add cancelled to GenerationStatus and JobStatus
  packages/shared/src/types.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat: v0.16.2 — style grid delete, version labels, job_id FK
  apps/web/next-env.d.ts
  apps/web/public/disc-logo.svg
  apps/web/src/app/(dashboard)/settings/general/page.tsx
  apps/web/src/app/(dashboard)/styles/page.tsx
  apps/web/src/app/api/playlists/[spotifyPlaylistId]/regenerate/route.ts
  apps/web/src/app/api/playlists/generate-batch/route.ts
  apps/web/src/app/api/playlists/route.ts
  apps/web/src/app/api/queue/cancel/route.ts
  apps/web/src/app/api/queue/status/route.ts
  apps/web/src/components/StatusBadge.tsx
  apps/web/src/components/styles/StyleCard.tsx
  apps/web/src/components/styles/StyleEditor.tsx
  apps/web/src/components/styles/StyleGrid.tsx
  migrations/019_job_id_fk.sql
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
  workers/cron/src/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched
