Repository EvanCNavarro/disc: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

.lintstagedrc.json:

{
	"*.{ts,tsx,js,jsx}": [
		"biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"
	],
	"*.{json,md}": [
		"biome format --write --files-ignore-unknown=true --no-errors-on-unmatched"
	]
}

feat(collab): add backfill endpoint + collaborative detection across pipeline
  apps/web/src/app/api/admin/backfill-contributors/route.ts
  apps/web/src/app/api/playlists/[spotifyPlaylistId]/regenerate/route.ts
  apps/web/src/app/api/playlists/generate-batch/route.ts
  apps/web/src/components/queue/QueueBoard.tsx
  apps/web/src/components/queue/QueueCard.tsx
  workers/cron/src/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(styles): use style's model config for preview generation + add poll resilience
  apps/web/src/app/api/styles/[id]/generate/route.ts
  apps/web/src/lib/generate-thumbnail.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(watcher): add pause/resume toggle + interval selector
  apps/web/src/app/api/settings/watcher/route.ts
  apps/web/src/components/queue/QueueBoard.tsx
  apps/web/src/components/queue/WatcherBanner.tsx
  packages/shared/src/types.ts
  workers/cron/src/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): collaborative badges + web infrastructure
  apps/web/src/app/(dashboard)/page.tsx
  apps/web/src/app/(dashboard)/playlists/[spotifyId]/page.tsx
  apps/web/src/app/api/playlists/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/robots.ts
  apps/web/src/app/sitemap.ts
  apps/web/src/components/PlaylistCard.tsx
  apps/web/src/components/dashboard/DashboardLiveStats.tsx
  apps/web/src/components/playlist-detail/PlaylistDetailClient.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat: auto-detect watcher + auth refactor + worker resilience
  apps/web/next-env.d.ts
  apps/web/src/app/api/analyses/[analysisId]/route.ts
  apps/web/src/app/api/playlists/[spotifyPlaylistId]/generations/route.ts
  apps/web/src/components/DashboardShell.tsx
  apps/web/src/components/Dropdown.tsx
  apps/web/src/components/Providers.tsx
  apps/web/src/components/queue/AnalysisView.tsx
  apps/web/src/components/queue/CronIdleBanner.tsx
  apps/web/src/components/queue/CronProgressPanel.tsx
  apps/web/src/components/queue/ImageReviewModal.tsx
  apps/web/src/lib/auth.config.ts
  apps/web/src/lib/auth.ts
  docs/auto-detect-plan.md
  docs/e2e-tests.md
  migrations/014_auto_detect.sql
  workers/cron/src/openai.ts
  workers/cron/src/pipeline.ts
  workers/cron/src/replicate.ts
  workers/cron/src/retry.ts
  workers/cron/wrangler.toml
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: bump version to 0.11.0 — Spotify enrichment + watcher controls
  README.md
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(types): add watcher columns to DbUser shared type
  packages/shared/src/types.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(queue): add collaborative filter toggle with localStorage persistence
  apps/web/src/components/queue/QueueBoard.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: bump version to 0.11.1 — queue collaborative filter
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(tracks): fuzzy snapshot matching + placeholder art for missing album images
  apps/web/src/components/playlist-detail/PlaylistDetailClient.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: bump version to 0.11.2 — track art fuzzy matching + placeholder
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor: move pricing module to shared package
  packages/shared/src/__tests__/pricing.test.ts
  packages/shared/src/index.ts
  packages/shared/src/pricing.ts
  workers/cron/src/pipeline.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat: add usage_events migration and shared types
  migrations/016_usage_events.sql
  packages/shared/src/types.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(worker): add usage event insertion helper
  workers/cron/src/usage.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(worker): instrument pipeline with usage event tracking
  workers/cron/src/pipeline.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(worker): address usage event review findings
  workers/cron/src/pipeline.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(web): add usage event insertion helper
  apps/web/src/lib/usage.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(web): instrument style preview/thumbnail with usage tracking
  apps/web/src/app/api/styles/[id]/generate/route.ts
  apps/web/src/lib/generate-thumbnail.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(api): add billing usage endpoint with chart data and pagination
  apps/web/src/app/api/settings/billing/usage/route.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor: convert settings to sidebar layout with sub-routes
  apps/web/src/app/(dashboard)/settings/general/page.tsx
  apps/web/src/app/(dashboard)/settings/layout.tsx
  apps/web/src/app/(dashboard)/settings/page.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat: add Recharts stacked bar chart with a11y table fallback
  apps/web/package.json
  apps/web/src/components/settings/UsageChart.tsx
  package-lock.json
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

feat: add usage audit table with action badges and relative timestamps
  apps/web/src/components/settings/UsageTable.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat: add billing page skeleton with time range selector and summary cards
  apps/web/src/app/(dashboard)/settings/billing/BillingClient.tsx
  apps/web/src/app/(dashboard)/settings/billing/page.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: bump version to 0.12.0 — billing & usage tracking
  apps/web/src/components/settings/UsageChart.tsx
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix: stuck batch jobs, negative elapsed time, mobile horizontal scroll
  apps/web/src/app/api/queue/status/route.ts
  apps/web/src/app/globals.css
  apps/web/src/components/dashboard/GenerationHistoryTable.tsx
  apps/web/src/components/queue/QueueBoard.tsx
  apps/web/src/lib/format.ts
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

docs: add token lifecycle comments to worker and watcher route
  apps/web/src/app/api/settings/watcher/route.ts
  workers/cron/src/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(db): add worker_ticks table for activity tracking (migration 017)
  migrations/017_worker_ticks.sql
Due: none

feat(shared): add TickType, TickStatus, DbWorkerTick types
  packages/shared/src/types.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(worker): add tick logging and pruning utilities
  workers/cron/src/ticks.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(worker): instrument watcher flow with tick logging
  workers/cron/src/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(worker): instrument scheduled cron flow with tick logging
  workers/cron/src/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(worker): add daily heartbeat token refresh and 30-day tick pruning
  workers/cron/src/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(worker): instrument manual trigger with tick logging
  workers/cron/src/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(api): add activity endpoint for worker tick timeline and health
  apps/web/src/app/api/settings/activity/route.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(ui): add Activity tab to settings navigation
  apps/web/src/app/(dashboard)/settings/layout.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(ui): add Activity page with timeline chart, health bar, and tick log
  apps/web/src/app/(dashboard)/settings/activity/ActivityClient.tsx
  apps/web/src/app/(dashboard)/settings/activity/page.tsx
  apps/web/src/components/settings/WorkerTimeline.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: bump version to 0.13.0 — worker activity tracking
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(activity): polish UX — health colors, success rate, local time, auto-poll
  apps/web/src/app/(dashboard)/settings/activity/ActivityClient.tsx
  apps/web/src/app/api/settings/activity/route.ts
  apps/web/src/components/settings/WorkerTimeline.tsx
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

docs: add cover integrity system design
  docs/plans/2026-02-18-cover-integrity-design.md
Due: biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(worker): cover integrity phase 1 — migration, phash utility, imageUrl extraction
  migrations/018_cover_integrity.sql
  workers/cron/src/__tests__/image.test.ts
  workers/cron/src/image.ts
  workers/cron/src/spotify.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
