Repository EvanCNavarro/disc: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

feat: phase 1 — Auth.js + Spotify playlists
  .env.example
  .gitignore
  apps/web/next-env.d.ts
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/(dashboard)/loading.tsx
  apps/web/src/app/(dashboard)/page.tsx
  apps/web/src/app/api/auth/[...nextauth]/route.ts
  apps/web/src/app/api/playlists/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/login/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/PlaylistCard.tsx
  apps/web/src/components/PlaylistGrid.tsx
  apps/web/src/components/Providers.tsx
  apps/web/src/lib/auth.config.ts
  apps/web/src/lib/auth.ts
  apps/web/src/lib/db.ts
  apps/web/src/lib/encryption.ts
  apps/web/src/lib/spotify.ts
  apps/web/src/lib/sync.ts
  apps/web/src/middleware.ts
  apps/web/src/types/next-auth.d.ts
  apps/web/tsconfig.json
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: bump version to 0.2.0
  package.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(ui): design system overhaul — NavDock, DiscLogo, glassmorphism
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/(dashboard)/loading.tsx
  apps/web/src/app/(dashboard)/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/login/page.tsx
  apps/web/src/components/DiscLogo.tsx
  apps/web/src/components/NavDock.tsx
  apps/web/src/components/PlaylistCard.tsx
  apps/web/src/components/UserDropdown.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: bump version to 0.3.0
  package.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

feat: phase 3 — Enhanced pipeline, dashboard, settings
  BUILDPLAN.md
  CHANGELOG.md
  apps/web/src/app/(dashboard)/page.tsx
  apps/web/src/app/(dashboard)/playlists/page.tsx
  apps/web/src/app/(dashboard)/settings/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/components/NavDock.tsx
  apps/web/src/components/NavItems.tsx
  apps/web/src/lib/auth.ts
  migrations/002_enhanced_pipeline.sql
  package.json
  packages/shared/src/types.ts
  packages/shared/src/version.ts
  workers/cron/package.json
  workers/cron/src/crypto.ts
  workers/cron/src/extraction.ts
  workers/cron/src/image.ts
  workers/cron/src/index.ts
  workers/cron/src/lyrics.ts
  workers/cron/src/openai.ts
  workers/cron/src/pipeline.ts
  workers/cron/src/replicate.ts
  workers/cron/src/spotify.ts
  workers/cron/wrangler.toml
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(auth): break redirect loop on expired Spotify token
  apps/web/src/app/login/page.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(config): use .next.nosync distDir only in development
  apps/web/next.config.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(auth): resolve typecheck error in jwt callback type
  apps/web/src/lib/auth.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: add .vercel to gitignore and use optional chaining in jwt callback
  .gitignore
  apps/web/src/lib/auth.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(styles): expand catalog with 5 new style definitions
  packages/shared/src/styles.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(changelog): add searchable changelog page with version tracking
  CHANGELOG.md
  apps/web/src/app/(dashboard)/changelog/page.tsx
  apps/web/src/components/NavItems.tsx
  apps/web/src/components/changelog/ChangelogEntryBadge.tsx
  apps/web/src/components/changelog/ChangelogList.tsx
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/changelog.ts
  packages/shared/src/index.ts
  packages/shared/src/version.ts
  packages/shared/tsconfig.json
  scripts/version-bump.sh
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(changelog): add footer, unread indicator, breadcrumbs, seen tracking
  apps/web/src/app/(dashboard)/changelog/page.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/api/changelog-seen/route.ts
  apps/web/src/components/Footer.tsx
  apps/web/src/components/NavItems.tsx
  apps/web/src/components/UserDropdown.tsx
  apps/web/src/components/changelog/ChangelogMarkSeen.tsx
  apps/web/src/hooks/useChangelogSeen.ts
  migrations/003_changelog_seen.sql
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: update BUILDPLAN.md version strategy and changelog entries
  BUILDPLAN.md
  CHANGELOG.md
  packages/shared/src/changelog.json
Due: biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(ui): design system polish + login page redesign (v0.5.1)
  .gitignore
  CHANGELOG.md
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/(dashboard)/loading.tsx
  apps/web/src/app/(dashboard)/page.tsx
  apps/web/src/app/(dashboard)/settings/page.tsx
  apps/web/src/app/changelog/layout.tsx
  apps/web/src/app/changelog/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/login/page.tsx
  apps/web/src/components/BackToTop.tsx
  apps/web/src/components/DiscLogo.tsx
  apps/web/src/components/DiscRipples.tsx
  apps/web/src/components/Footer.tsx
  apps/web/src/components/FooterLogo.tsx
  apps/web/src/components/LogoLink.tsx
  apps/web/src/components/NavDock.tsx
  apps/web/src/components/NavItems.tsx
  apps/web/src/components/PlaylistCard.tsx
  apps/web/src/components/UserDropdown.tsx
  apps/web/src/components/changelog/ChangelogList.tsx
  apps/web/src/lib/auth.config.ts
  apps/web/src/middleware.ts
  package-lock.json
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(queue): batch generation queue with kanban board + UX polish (v0.6.1)
  BUILDPLAN.md
  SPEC.md
  apps/web/src/app/(dashboard)/page.tsx
  apps/web/src/app/(dashboard)/queue/page.tsx
  apps/web/src/app/api/analyses/[analysisId]/route.ts
  apps/web/src/app/api/generations/route.ts
  apps/web/src/app/api/images/route.ts
  apps/web/src/app/api/playlists/[spotifyPlaylistId]/generations/route.ts
  apps/web/src/app/api/playlists/[spotifyPlaylistId]/regenerate/route.ts
  apps/web/src/app/api/playlists/generate-batch/route.ts
  apps/web/src/app/api/playlists/route.ts
  apps/web/src/app/api/styles/route.ts
  apps/web/src/components/LogoLink.tsx
  apps/web/src/components/NavItems.tsx
  apps/web/src/components/queue/AnalysisView.tsx
  apps/web/src/components/queue/ImageReviewModal.tsx
  apps/web/src/components/queue/PipelineStepper.tsx
  apps/web/src/components/queue/QueueBoard.tsx
  apps/web/src/components/queue/QueueCard.tsx
  apps/web/src/components/queue/QueueColumn.tsx
  apps/web/src/components/queue/QueueFooter.tsx
  apps/web/src/components/queue/StylePicker.tsx
  apps/web/src/lib/encryption.ts
  apps/web/src/lib/format.ts
  migrations/004_queue_and_cleanup.sql
  migrations/005_track_lyrics_cache.sql
  package.json
  packages/shared/src/changelog.json
  packages/shared/src/types.ts
  packages/shared/src/version.ts
  workers/cron/src/extraction.ts
  workers/cron/src/index.ts
  workers/cron/src/lyrics.ts
  workers/cron/src/openai.ts
  workers/cron/src/pipeline.ts
  workers/cron/src/replicate.ts
  workers/cron/src/spotify.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): cost tracking, cached fetch, timestamp format, UX polish (v0.7.1)
  apps/web/src/app/(dashboard)/page.tsx
  apps/web/src/app/api/generations/route.ts
  apps/web/src/components/StatusBadge.tsx
  apps/web/src/components/dashboard/GenerationHistoryTable.tsx
  apps/web/src/hooks/useCachedFetch.ts
  apps/web/src/lib/format.ts
  migrations/006_generation_cost_tracking.sql
  workers/cron/src/pipeline.ts
  workers/cron/src/pricing.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(format): pin timestamp locale to en-GB for consistent DD MMM YYYY format
  apps/web/src/lib/format.ts
  docs/REMAINING-WORK.md
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(infra): add CI deploy, image caching, dashboard thumbnails (v0.8.0-rc)
  .github/workflows/ci.yml
  apps/web/src/app/api/images/route.ts
  apps/web/src/components/dashboard/GenerationHistoryTable.tsx
  docs/PRODUCT-OWNER-ANALYSIS.md
  docs/plans/2026-02-15-disc-roadmap.md
  package.json
  workers/cron/src/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(playlists): add playlist detail page with full transparency (v0.9.0)
  apps/web/src/app/(dashboard)/playlists/[spotifyId]/loading.tsx
  apps/web/src/app/(dashboard)/playlists/[spotifyId]/page.tsx
  apps/web/src/components/PlaylistCard.tsx
  apps/web/src/components/playlist-detail/PlaylistDetailClient.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(security): validate R2 key path in image proxy, harden detail page
  apps/web/src/app/api/images/route.ts
  apps/web/src/components/playlist-detail/PlaylistDetailClient.tsx
  package.json
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(pipeline): song-level extraction cache + object scoring (v0.10.0-rc)
  apps/web/src/components/playlist-detail/PlaylistDetailClient.tsx
  migrations/007_song_extractions.sql
  workers/cron/src/extraction.ts
  workers/cron/src/pipeline.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(ui): song metadata expansion + timestamp consistency (v0.10.0)
  apps/web/src/app/(dashboard)/playlists/[spotifyId]/page.tsx
  apps/web/src/components/playlist-detail/PlaylistDetailClient.tsx
  apps/web/src/components/queue/ImageReviewModal.tsx
  apps/web/src/lib/format.ts
  workers/cron/src/spotify.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(ui): address code review — dark-mode colors, icons, perf, router
  apps/web/src/app/(dashboard)/playlists/[spotifyId]/page.tsx
  apps/web/src/components/playlist-detail/PlaylistDetailClient.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(styles): add Kuro Gin Orenjiiro LoRA style + seed all styles to D1 (v0.10.0)
  migrations/008_seed_styles.sql
  package.json
  packages/shared/src/styles.ts
  workers/cron/src/pricing.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: bump version to v0.7.0 with changelog
  packages/shared/src/changelog.json
  packages/shared/src/version.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, biome format --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(queue): replace fixed footer with sticky header
  apps/web/src/components/queue/QueueBoard.tsx
  apps/web/src/components/queue/QueueColumn.tsx
  apps/web/src/components/queue/QueueFooter.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(db): add style creator schema — status, heuristics, versions tables
  migrations/011_style_creator_schema.sql
  packages/shared/src/types.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(shared): add 100 common objects seed list for style preview generation
  packages/shared/src/__tests__/common-objects.test.ts
  packages/shared/src/common-objects.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(shared): add prompt reconstruction engine — heuristics JSON to prompt template
  packages/shared/src/__tests__/prompt-reconstruction.test.ts
  packages/shared/src/prompt-reconstruction.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(ui): add Breadcrumb component for nested page navigation
  apps/web/src/components/Breadcrumb.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(nav): add Styles to NavDock as top-level navigation item
  apps/web/src/components/NavItems.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(styles): add styles gallery page with grid of style cards
  apps/web/src/app/(dashboard)/styles/layout.tsx
  apps/web/src/app/(dashboard)/styles/page.tsx
  apps/web/src/components/styles/StyleCard.tsx
  apps/web/src/components/styles/StyleGrid.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(settings): remove Art Style section, link to /styles instead
  apps/web/src/app/(dashboard)/settings/page.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(styles): add split-panel style editor layout at /styles/[id]
  apps/web/src/app/(dashboard)/styles/[id]/page.tsx
  apps/web/src/components/styles/StyleEditor.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(styles): add heuristic controls — sliders, chips, dropdowns for style parameters
  apps/web/src/components/styles/ChipSelect.tsx
  apps/web/src/components/styles/HeuristicControls.tsx
  apps/web/src/components/styles/HeuristicSection.tsx
  apps/web/src/components/styles/SliderInput.tsx
  apps/web/src/components/styles/StyleEditor.tsx
  packages/shared/src/index.ts
  packages/shared/src/prompt-builder.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(styles): add 2x2 preview grid component for style editor
  apps/web/src/components/styles/PreviewGrid.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(styles): add version history timeline component
  apps/web/src/components/styles/VersionHistory.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(styles): wire editor components — generation, versioning, publishing
  apps/web/next.config.ts
  apps/web/src/app/api/styles/[id]/generate/route.ts
  apps/web/src/app/api/styles/[id]/route.ts
  apps/web/src/app/api/styles/[id]/versions/route.ts
  apps/web/src/components/styles/PreviewGrid.tsx
  apps/web/src/components/styles/StyleEditor.tsx
  apps/web/src/components/styles/VersionHistory.tsx
  packages/shared/src/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(styles): add style creator page with image upload
  apps/web/src/app/(dashboard)/styles/new/page.tsx
  apps/web/src/components/styles/ImageUpload.tsx
  apps/web/src/components/styles/StyleCreator.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(api): add Claude-powered style analysis endpoint
  apps/web/src/app/api/styles/analyze/route.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

Path conditions:
  biome check --write --files-ignore-unknown=true --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx}
  biome format --write --files-ignore-unknown=true --no-errors-on-unmatched: any of: *.{json,md}
